{% extends 'Adminindex.html' %}
{% block body %}

{#<table width="245" border="1">#}
{#  <tr>#}
{#    <th width="235" scope="row"><a href="/admin_viewandapproveagents">View and approve Agents</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="/admin_viewapprovedagents">View Approved Agents</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="/admin_viewrejectedagents">View Rejected Agents</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="/admin_viewpropertiesaddedbyagents">View Properties Added by Agents</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="/admin_viewcomplaint">View Complaints and Send Reply</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="/admin_viewrating">View Rating</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="/">Logout</a></th>#}
{#  </tr>#}
{#</table>#}

{% endblock %}