{% extends 'Adminindex.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="/getcomplaintreply">

    <input type="text" name="id" value="{{ id }}" hidden/>
  <table class="table table-hover">
    <tr>
      <th scope="row" bgcolor="#ff8c00">Reply</th>
      <td>
        <input type="text" name="textfield" class="form-control" required/>
      </td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><div align="center">
        <input type="submit" name="Submit" value="Send" class="btn btn-primary btn-style"/></div>
      </th>
    </tr>
  </table>
</form>
{% endblock %}
