{% extends "listing.html" %}
{% block body %}

{#<table width="250" border="1">#}
{#  <tr>#}
{#    <th scope="row"><a href="/user_viewprofile">Manage Profile</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="/user_viewproperty">View Properties</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="/user_viewsentinterest">View Sent Interests</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="#">Chat With Agent</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="/user_sendcomplaints">Send Complaints & View Reply</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="#">Give Rating</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="/">Logout</a></th>#}
{#  </tr>#}
{#</table>#}

{% endblock %}
